@import url(https://fonts.googleapis.com/css?family=Martel+Sans:300,regular,700,800&display=swap);

@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600&display=swap);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: inline-block;
}

._icon-arrow-left:before {
  content: "\e900";
}

._icon-call:before {
  content: "\e901";
}

._icon-cart:before {
  content: "\e902";
}

._icon-fb:before {
  content: "\e903";
}

._icon-insta:before {
  content: "\e904";
}

._icon-location:before {
  content: "\e905";
}

._icon-person:before {
  content: "\e906";
}

._icon-twitter:before {
  content: "\e907";
}

._icon-arrow-bottom:before {
  content: "\e908";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #3f4255;
  line-height: 1;
  font-family: "Martel Sans";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Martel Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: rgb(255, 255, 255);
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 78.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
  border-radius: 0.25rem;
  background-color: #ffe145;
  cursor: pointer;
}

@supports (padding: clamp( 0.625rem , 0.449742268rem  +  0.8762886598vw , 1.15625rem )) {
  .button {
    padding: clamp( 0.625rem , 0.449742268rem  +  0.8762886598vw , 1.15625rem );
  }
}

@supports not (padding: clamp( 0.625rem , 0.449742268rem  +  0.8762886598vw , 1.15625rem )) {
  .button {
    padding: calc(0.625rem + 0.53125 * (100vw - 20rem) / 60.625);
  }
}

.button._fw {
  width: 100%;
}

.button._border {
  background-color: inherit;
  border: 0.125rem solid #ffe145;
}

.button._secundary {
  background-color: #f2f4fa;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 0.25rem;
  padding-left: 3rem;
  max-width: 21rem;
  display: block;
  -webkit-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
}

@supports (padding-top: clamp( 0.625rem , 0.449742268rem  +  0.8762886598vw , 1.15625rem )) {
  .input {
    padding-top: clamp( 0.625rem , 0.449742268rem  +  0.8762886598vw , 1.15625rem );
  }
}

@supports not (padding-top: clamp( 0.625rem , 0.449742268rem  +  0.8762886598vw , 1.15625rem )) {
  .input {
    padding-top: calc(0.625rem + 0.53125 * (100vw - 20rem) / 60.625);
  }
}

@supports (padding-bottom: clamp( 0.625rem , 0.449742268rem  +  0.8762886598vw , 1.15625rem )) {
  .input {
    padding-bottom: clamp( 0.625rem , 0.449742268rem  +  0.8762886598vw , 1.15625rem );
  }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.449742268rem  +  0.8762886598vw , 1.15625rem )) {
  .input {
    padding-bottom: calc(0.625rem + 0.53125 * (100vw - 20rem) / 60.625);
  }
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  color: inherit;
  text-align: left;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.03125rem;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  padding: 0 0.9375rem;
  gap: 0.625rem;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0.5rem;
  height: 0.5rem;
  border-right: 2px solid #9093A6;
  border-bottom: 2px solid #9093A6;
  -webkit-transform: translateY(75%) rotate(45deg);
      -ms-transform: translateY(75%) rotate(45deg);
          transform: translateY(75%) rotate(45deg);
}

._select-open .select__value:after {
  -webkit-transform: translateY(75%) rotate(-135deg);
      -ms-transform: translateY(75%) rotate(-135deg);
          transform: translateY(75%) rotate(-135deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #3f4255;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border-top: 0;
  padding: 10px 0px 5px 0px;
  -webkit-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

.footer-menu__language .select__value {
  padding-left: 0;
  color: #d4d7e6;
  font-size: 0.875rem;
  line-height: 1.4285714286;
  font-weight: 400;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  width: 20rem;
  top: 0;
  left: 0;
  margin: 0 auto;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__input {
  width: 100%;
  margin-bottom: 1.25rem;
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25rem;
}

.popup__close {
  position: relative;
  width: 100%;
  left: 100%;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-bottom: 1.25rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.3125rem;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
}

.popup__close::after,
.popup__close::before {
  content: "";
  position: absolute;
  top: 49%;
  left: 15%;
  width: 1rem;
  height: 0.125rem;
  background-color: #9093a6;
}

.popup__close::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__close::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup__input-row {
  position: relative;
}

.popup__input-row label {
  color: #9093A6;
  position: absolute;
  top: 50%;
  left: 1rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5rem;
  line-height: 1;
}

.popup__input {
  width: 100%;
  margin-bottom: 1.25rem;
}

.popup__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25rem;
}

.popup__close {
  position: relative;
  width: 100%;
  left: 100%;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-bottom: 1.25rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.3125rem;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
}

.popup__close::after,
.popup__close::before {
  content: "";
  position: absolute;
  top: 49%;
  left: 15%;
  width: 1rem;
  height: 0.125rem;
  background-color: #9093a6;
}

.popup__close::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup__close::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 15px;
}

.spollers__item {
  font-size: 1.25rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.3125rem;
  position: relative;
}

._spoller-init .spollers__title {
  cursor: pointer;
  /*
  ._spoller-init & {
  	position: relative;
  	width: 100%;
  	text-align: left;
  	&::before,
  	&::after {
  		content: "";
  		position: absolute;
  		right: 0;
  		top: rem(12);
  		height: rem(1);
  		transition: all 0.3s ease 0s;
  		width: rem(10);
  		background-color: #000;
  	}
  	&::before {
  		transform: rotate(40deg);
  		right: rem(7);
  	}
  	&::after {
  		transform: rotate(-40deg);
  	}
  }
  &._spoller-active {
  	&::before {
  		transform: rotate(-40deg);
  	}
  	&::after {
  		transform: rotate(40deg);
  	}
  }
  */
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  padding: 1.25rem;
  border-radius: 0.3125rem;
  border: 1px solid #eee;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

@supports (margin-top: clamp( 1.875rem , 1.256443299rem  +  3.0927835052vw , 3.75rem )) {
  .section__header {
    margin-top: clamp( 1.875rem , 1.256443299rem  +  3.0927835052vw , 3.75rem );
  }
}

@supports not (margin-top: clamp( 1.875rem , 1.256443299rem  +  3.0927835052vw , 3.75rem )) {
  .section__header {
    margin-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 60.625);
  }
}

@supports (margin-bottom: clamp( 1.25rem , 0.631443299rem  +  3.0927835052vw , 3.125rem )) {
  .section__header {
    margin-bottom: clamp( 1.25rem , 0.631443299rem  +  3.0927835052vw , 3.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.631443299rem  +  3.0927835052vw , 3.125rem )) {
  .section__header {
    margin-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 60.625);
  }
}

.section__title {
  font-family: "Poppins";
  font-weight: 300;
  line-height: 1.1666666667;
  letter-spacing: 0.08em;
}

@supports (font-size: clamp( 1.75rem , 1.5850515464rem  +  0.824742268vw , 2.25rem )) {
  .section__title {
    font-size: clamp( 1.75rem , 1.5850515464rem  +  0.824742268vw , 2.25rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 1.5850515464rem  +  0.824742268vw , 2.25rem )) {
  .section__title {
    font-size: calc(1.75rem + 0.5 * (100vw - 20rem) / 60.625);
  }
}

.section__button {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.03125rem;
  color: #9093A6;
}

.restaurants__slider-nav,
.specialities__slider-nav {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (padding-left: clamp( 0.625rem , -44.375rem  +  50vw , 15.625rem )) {
  .restaurants__slider-nav,
  .specialities__slider-nav {
    padding-left: clamp( 0.625rem , -44.375rem  +  50vw , 15.625rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , -44.375rem  +  50vw , 15.625rem )) {
  .restaurants__slider-nav,
  .specialities__slider-nav {
    padding-left: calc(0.625rem + 15 * (100vw - 90rem) / 30);
  }
}

@supports (padding-right: clamp( 0.625rem , -44.375rem  +  50vw , 15.625rem )) {
  .restaurants__slider-nav,
  .specialities__slider-nav {
    padding-right: clamp( 0.625rem , -44.375rem  +  50vw , 15.625rem );
  }
}

@supports not (padding-right: clamp( 0.625rem , -44.375rem  +  50vw , 15.625rem )) {
  .restaurants__slider-nav,
  .specialities__slider-nav {
    padding-right: calc(0.625rem + 15 * (100vw - 90rem) / 30);
  }
}

.restaurants__swiper-button-prev::before,
.restaurants__swiper-button-next::before,
.specialities__swiper-button-prev::before,
.specialities__swiper-button-next::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  color: #9093A6;
  padding: 0.75rem;
}

@supports (padding: clamp( 0.3125rem , 0.1681701031rem  +  0.7216494845vw , 0.75rem )) {
  .restaurants__swiper-button-prev::before,
  .restaurants__swiper-button-next::before,
  .specialities__swiper-button-prev::before,
  .specialities__swiper-button-next::before {
    padding: clamp( 0.3125rem , 0.1681701031rem  +  0.7216494845vw , 0.75rem );
  }
}

@supports not (padding: clamp( 0.3125rem , 0.1681701031rem  +  0.7216494845vw , 0.75rem )) {
  .restaurants__swiper-button-prev::before,
  .restaurants__swiper-button-next::before,
  .specialities__swiper-button-prev::before,
  .specialities__swiper-button-next::before {
    padding: calc(0.3125rem + 0.4375 * (100vw - 20rem) / 60.625);
  }
}

.restaurants__swiper-button-prev::after,
.restaurants__swiper-button-next::after,
.specialities__swiper-button-prev::after,
.specialities__swiper-button-next::after {
  content: "";
}

.restaurants__swiper-button-prev,
.specialities__swiper-button-prev {
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.restaurants__swiper-button-next,
.specialities__swiper-button-next {
  -webkit-transform: translate(0, -50%) rotate(180deg);
      -ms-transform: translate(0, -50%) rotate(180deg);
          transform: translate(0, -50%) rotate(180deg);
}

.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #d4d7e6;
}

@supports (height: clamp( 3.125rem , 2.6920103093rem  +  2.1649484536vw , 4.4375rem )) {
  .header {
    height: clamp( 3.125rem , 2.6920103093rem  +  2.1649484536vw , 4.4375rem );
  }
}

@supports not (height: clamp( 3.125rem , 2.6920103093rem  +  2.1649484536vw , 4.4375rem )) {
  .header {
    height: calc(3.125rem + 1.3125 * (100vw - 20rem) / 60.625);
  }
}

.header__container {
  height: 100%;
}

.header__body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.03125rem;
  color: #9093A6;
}

@supports (gap: clamp( 0.625rem , -0.0892857143rem  +  3.5714285714vw , 3.125rem )) {
  .header__control {
    gap: clamp( 0.625rem , -0.0892857143rem  +  3.5714285714vw , 3.125rem );
  }
}

@supports not (gap: clamp( 0.625rem , -0.0892857143rem  +  3.5714285714vw , 3.125rem )) {
  .header__control {
    gap: calc(0.625rem + 2.5 * (100vw - 20rem) / 70);
  }
}

.header__login,
.header_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__login::before,
.header_cart::before {
  font-size: 1.25rem;
  margin-right: 0.3125rem;
}

.header__login small,
.header_cart small {
  position: relative;
  top: 0.125rem;
}

.menu__body {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  left: 0;
  left: 100%;
  overflow: auto;
  background-color: #9093A6;
  opacity: 0.97;
  -webkit-transition: left 0.3s ease 0s;
  -o-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@supports (top: clamp( 3.125rem , 2.6920103093rem  +  2.1649484536vw , 4.4375rem )) {
  .menu__body {
    top: clamp( 3.125rem , 2.6920103093rem  +  2.1649484536vw , 4.4375rem );
  }
}

@supports not (top: clamp( 3.125rem , 2.6920103093rem  +  2.1649484536vw , 4.4375rem )) {
  .menu__body {
    top: calc(3.125rem + 1.3125 * (100vw - 20rem) / 60.625);
  }
}

.menu-open .menu__body {
  left: 0;
}

.menu__content {
  width: 17.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding: 1.25rem 1.875rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.03125rem;
}

.menu__phone:not(:last-child) {
  padding-bottom: 0.3125rem;
  color: #3f4255;
}

.menu__phone::before {
  margin-right: 0.625rem;
  font-size: 1.5rem;
  -webkit-transform: translateY(0.4375rem);
      -ms-transform: translateY(0.4375rem);
          transform: translateY(0.4375rem);
}

.menu__time {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.3333333333;
}

.menu__time:not(:last-child) {
  padding-bottom: 1.875rem;
}

.menu__list {
  padding-bottom: 1.875rem;
}

.menu__item:not(:last-child) {
  padding-bottom: 1.875rem;
}

.menu__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.icon-menu {
  display: block;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 5;
}

.icon-menu span,
.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #9093A6;
}

.icon-menu::before {
  top: 0;
}

.icon-menu::after {
  bottom: 0;
}

.icon-menu span {
  top: calc(50% - 0.0625rem);
}

.icon-menu small {
  content: "";
  z-index: -1;
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 50%;
  left: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.footer {
  background-color: #3f4255;
  color: #fff;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
}

@supports (padding-top: clamp( 1.5625rem , 1.0470360825rem  +  2.5773195876vw , 3.125rem )) {
  .main-footer {
    padding-top: clamp( 1.5625rem , 1.0470360825rem  +  2.5773195876vw , 3.125rem );
  }
}

@supports not (padding-top: clamp( 1.5625rem , 1.0470360825rem  +  2.5773195876vw , 3.125rem )) {
  .main-footer {
    padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 60.625);
  }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.0470360825rem  +  2.5773195876vw , 3.125rem )) {
  .main-footer {
    padding-bottom: clamp( 1.5625rem , 1.0470360825rem  +  2.5773195876vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.0470360825rem  +  2.5773195876vw , 3.125rem )) {
  .main-footer {
    padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 60.625);
  }
}

.main-footer__company {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-footer__company-body {
  text-align: center;
  max-width: 18.75rem;
  border-bottom: 1px solid #d4d7e6;
}

.main-footer__logo {
  text-align: left;
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6282216495rem  +  1.5463917526vw , 1.875rem )) {
  .main-footer__logo {
    padding-bottom: clamp( 0.9375rem , 0.6282216495rem  +  1.5463917526vw , 1.875rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6282216495rem  +  1.5463917526vw , 1.875rem )) {
  .main-footer__logo {
    padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 60.625);
  }
}

.main-footer__app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

@supports (padding-top: clamp( 0.9375rem , 0.6282216495rem  +  1.5463917526vw , 1.875rem )) {
  .main-footer__app {
    padding-top: clamp( 0.9375rem , 0.6282216495rem  +  1.5463917526vw , 1.875rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.6282216495rem  +  1.5463917526vw , 1.875rem )) {
  .main-footer__app {
    padding-top: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 60.625);
  }
}

.footer-menu__title {
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.3333333333;
  letter-spacing: 0.0625rem;
  padding-bottom: 0.75rem;
  width: 100%;
}

@supports (font-size: clamp( 1.125rem , 1.0012886598rem  +  0.618556701vw , 1.5rem )) {
  .footer-menu__title {
    font-size: clamp( 1.125rem , 1.0012886598rem  +  0.618556701vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0012886598rem  +  0.618556701vw , 1.5rem )) {
  .footer-menu__title {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 60.625);
  }
}

.footer-menu__title._spoller-active {
  border-bottom: 1px solid #d4d7e6;
}

.footer-menu__title._spoller-active::after {
  -webkit-transform: translateY(75%) rotate(-135deg);
      -ms-transform: translateY(75%) rotate(-135deg);
          transform: translateY(75%) rotate(-135deg);
}

.footer-menu__body {
  padding-top: 0.75rem;
}

.footer-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.footer-menu__body,
.footer-menu__list {
  color: #d4d7e6;
}

.footer-menu__language {
  color: #d4d7e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  margin-top: 1rem;
}

@supports (padding-top: clamp( 1.5625rem , 1.0470360825rem  +  2.5773195876vw , 3.125rem )) {
  .copyright-footer {
    padding-top: clamp( 1.5625rem , 1.0470360825rem  +  2.5773195876vw , 3.125rem );
  }
}

@supports not (padding-top: clamp( 1.5625rem , 1.0470360825rem  +  2.5773195876vw , 3.125rem )) {
  .copyright-footer {
    padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 60.625);
  }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.0470360825rem  +  2.5773195876vw , 3.125rem )) {
  .copyright-footer {
    padding-bottom: clamp( 1.5625rem , 1.0470360825rem  +  2.5773195876vw , 3.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.0470360825rem  +  2.5773195876vw , 3.125rem )) {
  .copyright-footer {
    padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 60.625);
  }
}

.copyright-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.copyright-footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.75rem;
  line-height: 1.3333333333;
}

@supports (gap: clamp( 1.5625rem , 1.0470360825rem  +  2.5773195876vw , 3.125rem )) {
  .copyright-footer__copy {
    gap: clamp( 1.5625rem , 1.0470360825rem  +  2.5773195876vw , 3.125rem );
  }
}

@supports not (gap: clamp( 1.5625rem , 1.0470360825rem  +  2.5773195876vw , 3.125rem )) {
  .copyright-footer__copy {
    gap: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 60.625);
  }
}

.copyright-footer__link {
  font-weight: 800;
}

.copyright-footer__text {
  font-weight: 400;
}

@supports (margin-top: clamp( 3.75rem , 3.1108247423rem  +  3.1958762887vw , 5.6875rem )) {
  .page__main-block {
    margin-top: clamp( 3.75rem , 3.1108247423rem  +  3.1958762887vw , 5.6875rem );
  }
}

@supports not (margin-top: clamp( 3.75rem , 3.1108247423rem  +  3.1958762887vw , 5.6875rem )) {
  .page__main-block {
    margin-top: calc(3.75rem + 1.9375 * (100vw - 20rem) / 60.625);
  }
}

.page__restaurants {
  position: relative;
}

@supports (margin-top: clamp( 1.875rem , 1.256443299rem  +  3.0927835052vw , 3.75rem )) {
  .page__order {
    margin-top: clamp( 1.875rem , 1.256443299rem  +  3.0927835052vw , 3.75rem );
  }
}

@supports not (margin-top: clamp( 1.875rem , 1.256443299rem  +  3.0927835052vw , 3.75rem )) {
  .page__order {
    margin-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 60.625);
  }
}

.page__specialities {
  position: relative;
}

.no-webp .page__about{
  background: url("../img/content/bg.png"); }

.page__about {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top/left;
  height: 100%;
}

@supports (margin-top: clamp( 1.875rem , 1.256443299rem  +  3.0927835052vw , 3.75rem )) {
  .page__about {
    margin-top: clamp( 1.875rem , 1.256443299rem  +  3.0927835052vw , 3.75rem );
  }
}

@supports not (margin-top: clamp( 1.875rem , 1.256443299rem  +  3.0927835052vw , 3.75rem )) {
  .page__about {
    margin-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 60.625);
  }
}

@supports (margin-top: clamp( 1.875rem , 1.256443299rem  +  3.0927835052vw , 3.75rem )) {
  .page__map {
    margin-top: clamp( 1.875rem , 1.256443299rem  +  3.0927835052vw , 3.75rem );
  }
}

@supports not (margin-top: clamp( 1.875rem , 1.256443299rem  +  3.0927835052vw , 3.75rem )) {
  .page__map {
    margin-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 60.625);
  }
}

@supports (margin-bottom: clamp( 1.875rem , 1.050257732rem  +  4.1237113402vw , 4.375rem )) {
  .page__instagram {
    margin-bottom: clamp( 1.875rem , 1.050257732rem  +  4.1237113402vw , 4.375rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.050257732rem  +  4.1237113402vw , 4.375rem )) {
  .page__instagram {
    margin-bottom: calc(1.875rem + 2.5 * (100vw - 20rem) / 60.625);
  }
}

.main-block__container {
  display: -ms-grid;
  display: grid;
  gap: 1.5625rem;
}

.main-block__title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.1034482759;
}

@supports (font-size: clamp( 1.5rem , 0.7989690722rem  +  3.5051546392vw , 3.625rem )) {
  .main-block__title {
    font-size: clamp( 1.5rem , 0.7989690722rem  +  3.5051546392vw , 3.625rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 0.7989690722rem  +  3.5051546392vw , 3.625rem )) {
  .main-block__title {
    font-size: calc(1.5rem + 2.125 * (100vw - 20rem) / 60.625);
  }
}

@supports (margin-top: clamp( 0.625rem , -1.2306701031rem  +  9.2783505155vw , 6.25rem )) {
  .main-block__title {
    margin-top: clamp( 0.625rem , -1.2306701031rem  +  9.2783505155vw , 6.25rem );
  }
}

@supports not (margin-top: clamp( 0.625rem , -1.2306701031rem  +  9.2783505155vw , 6.25rem )) {
  .main-block__title {
    margin-top: calc(0.625rem + 5.625 * (100vw - 20rem) / 60.625);
  }
}

@supports (margin-bottom: clamp( 1.25rem , -0.1932989691rem  +  7.2164948454vw , 5.625rem )) {
  .main-block__title {
    margin-bottom: clamp( 1.25rem , -0.1932989691rem  +  7.2164948454vw , 5.625rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.1932989691rem  +  7.2164948454vw , 5.625rem )) {
  .main-block__title {
    margin-bottom: calc(1.25rem + 4.375 * (100vw - 20rem) / 60.625);
  }
}

.main-block__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}

.main-block__button {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-block__button span {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.03125rem;
}

.main-block__button small {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.75rem;
}

.main-block__image {
  position: relative;
}

.main-block__image_left {
  position: absolute;
  height: 30%;
  bottom: 10%;
  left: 0;
  -webkit-transform: translateX(-60%);
      -ms-transform: translateX(-60%);
          transform: translateX(-60%);
}

.main-block__image_arrow {
  position: absolute;
  height: 11%;
  bottom: 10%;
  right: 10%;
  -webkit-transform: translateY(20%);
      -ms-transform: translateY(20%);
          transform: translateY(20%);
}

.main-block__img {
  padding-bottom: 100%;
}

.main-block__img-text {
  text-align: right;
}

.usp__container {
  -webkit-transform: translateY(-40%);
      -ms-transform: translateY(-40%);
          transform: translateY(-40%);
}

.usp__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  max-width: 54.5rem;
}

@supports (gap: clamp( 1.25rem , 0.837628866rem  +  2.0618556701vw , 2.5rem )) {
  .usp__items {
    gap: clamp( 1.25rem , 0.837628866rem  +  2.0618556701vw , 2.5rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.837628866rem  +  2.0618556701vw , 2.5rem )) {
  .usp__items {
    gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 60.625);
  }
}

@supports (padding-top: clamp( 0.625rem , 0.3157216495rem  +  1.5463917526vw , 1.5625rem )) {
  .usp__items {
    padding-top: clamp( 0.625rem , 0.3157216495rem  +  1.5463917526vw , 1.5625rem );
  }
}

@supports not (padding-top: clamp( 0.625rem , 0.3157216495rem  +  1.5463917526vw , 1.5625rem )) {
  .usp__items {
    padding-top: calc(0.625rem + 0.9375 * (100vw - 20rem) / 60.625);
  }
}

@supports (padding-bottom: clamp( 0.625rem , 0.3157216495rem  +  1.5463917526vw , 1.5625rem )) {
  .usp__items {
    padding-bottom: clamp( 0.625rem , 0.3157216495rem  +  1.5463917526vw , 1.5625rem );
  }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.3157216495rem  +  1.5463917526vw , 1.5625rem )) {
  .usp__items {
    padding-bottom: calc(0.625rem + 0.9375 * (100vw - 20rem) / 60.625);
  }
}

@supports (padding-right: clamp( 0.625rem , 0.3157216495rem  +  1.5463917526vw , 1.5625rem )) {
  .usp__items {
    padding-right: clamp( 0.625rem , 0.3157216495rem  +  1.5463917526vw , 1.5625rem );
  }
}

@supports not (padding-right: clamp( 0.625rem , 0.3157216495rem  +  1.5463917526vw , 1.5625rem )) {
  .usp__items {
    padding-right: calc(0.625rem + 0.9375 * (100vw - 20rem) / 60.625);
  }
}

.usp__items::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 100%;
  top: 0;
  right: 0;
  -webkit-box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
}

.usp__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  max-width: 15.625rem;
}

.usp__text {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.03125rem;
}

.restaurants__slider {
  width: 100%;
  position: relative;
  padding-bottom: 0.3125rem;
}

.restaurants__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
}

.restaurants__slide-photo {
  width: 100%;
  padding-bottom: 62.1621621622%;
}

.restaurants__slide-logo {
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order {
  background-color: #f2f4fa;
}

@supports (padding-top: clamp( 1.25rem , 0.2190721649rem  +  5.1546391753vw , 4.375rem )) {
  .order__container {
    padding-top: clamp( 1.25rem , 0.2190721649rem  +  5.1546391753vw , 4.375rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.2190721649rem  +  5.1546391753vw , 4.375rem )) {
  .order__container {
    padding-top: calc(1.25rem + 3.125 * (100vw - 20rem) / 60.625);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 0.837628866rem  +  2.0618556701vw , 2.5rem )) {
  .order__container {
    padding-bottom: clamp( 1.25rem , 0.837628866rem  +  2.0618556701vw , 2.5rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.837628866rem  +  2.0618556701vw , 2.5rem )) {
  .order__container {
    padding-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 60.625);
  }
}

.order__text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.03125rem;
  padding: 0 0 1.875rem 0;
}

@supports (padding-top: clamp( 0.625rem , 0.212628866rem  +  2.0618556701vw , 1.875rem )) {
  .order__text {
    padding-top: clamp( 0.625rem , 0.212628866rem  +  2.0618556701vw , 1.875rem );
  }
}

@supports not (padding-top: clamp( 0.625rem , 0.212628866rem  +  2.0618556701vw , 1.875rem )) {
  .order__text {
    padding-top: calc(0.625rem + 1.25 * (100vw - 20rem) / 60.625);
  }
}

.order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.3125rem;
  position: relative;
  color: #9093A6;
  font-size: 1rem;
  line-height: 1.5;
}

.order__form span {
  position: absolute;
  top: 50%;
  left: 1rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.5rem;
  line-height: 1;
}

.specialities__slider {
  width: 100%;
  position: relative;
  padding-bottom: 0.3125rem;
}

.specialities__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
  padding: 1.5rem;
}

.specialities__slide-photo {
  width: 100%;
  padding-bottom: 70.5882352941%;
}

.specialities__slide-name {
  padding-top: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.03125rem;
}

.specialities__slider-nav {
  top: 70%;
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (padding-top: clamp( 3.125rem , 1.8878865979rem  +  6.1855670103vw , 6.875rem )) {
  .about__items {
    padding-top: clamp( 3.125rem , 1.8878865979rem  +  6.1855670103vw , 6.875rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 1.8878865979rem  +  6.1855670103vw , 6.875rem )) {
  .about__items {
    padding-top: calc(3.125rem + 3.75 * (100vw - 20rem) / 60.625);
  }
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.about__count {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.1034482759;
  letter-spacing: 0.05em;
  position: relative;
  z-index: 3;
  background-color: transparent;
}

@supports (font-size: clamp( 2rem , 1.4639175258rem  +  2.6804123711vw , 3.625rem )) {
  .about__count {
    font-size: clamp( 2rem , 1.4639175258rem  +  2.6804123711vw , 3.625rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.4639175258rem  +  2.6804123711vw , 3.625rem )) {
  .about__count {
    font-size: calc(2rem + 1.625 * (100vw - 20rem) / 60.625);
  }
}

.about__count span {
  position: relative;
  z-index: 3;
}

.about__count::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 7.9375rem;
  height: 7.9375rem;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: 1px solid #b79c10;
  border-radius: 50%;
}

.about__count::after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 7.9375rem;
  height: 7.9375rem;
  -webkit-transform: translate(-50%, -40%);
      -ms-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
  top: 70%;
  left: 50%;
  background-color: #ffe145;
  border-radius: 50%;
}

.about__text {
  font-family: "Poppins";
  font-weight: 600;
  line-height: 1.3333333333;
  margin-top: 3.75rem;
}

@supports (font-size: clamp( 1.125rem , 1.0012886598rem  +  0.618556701vw , 1.5rem )) {
  .about__text {
    font-size: clamp( 1.125rem , 1.0012886598rem  +  0.618556701vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0012886598rem  +  0.618556701vw , 1.5rem )) {
  .about__text {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 60.625);
  }
}

.map__container {
  position: relative;
}

.map__image {
  padding-bottom: 50%;
}

.map__location {
  position: absolute;
  width: 2.5rem;
  width: 2.5rem;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.map__location::before {
  font-size: 2rem;
}

.map__location_1 {
  left: 57%;
  top: 15%;
}

.map__location_2 {
  left: 39%;
  top: 23%;
}

.map__location_3 {
  left: 46%;
  top: 29%;
}

.map__location_4 {
  left: 31%;
  top: 41%;
}

.map__location_5 {
  left: 41%;
  top: 44%;
}

.map__location_6 {
  left: 52%;
  top: 40%;
}

.map__location_7 {
  left: 57%;
  top: 59%;
}

.map__location_8 {
  left: 47%;
  top: 67%;
}

.instagram__title span {
  color: #9093A6;
}

.instagram__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
}

.instagram__item {
  width: 100%;
  border-radius: 0.375rem;
  overflow: hidden;
}

.instagram__img {
  padding-bottom: 98.9966555184%;
}

.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0;
}

[data-tippy-root] {
  max-width: calc(100vw - 10px);
}

.tippy-box {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  -webkit-transition-property: visibility, opacity, -webkit-transform;
  transition-property: visibility, opacity, -webkit-transform;
  -o-transition-property: transform, visibility, opacity;
  transition-property: transform, visibility, opacity;
  transition-property: transform, visibility, opacity, -webkit-transform;
}

.tippy-box[data-placement^=top] > .tippy-arrow {
  bottom: 0;
}

.tippy-box[data-placement^=top] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow {
  top: 0;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
}

.tippy-box[data-placement^=left] > .tippy-arrow {
  right: 0;
}

.tippy-box[data-placement^=left] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
}

.tippy-box[data-placement^=right] > .tippy-arrow {
  left: 0;
}

.tippy-box[data-placement^=right] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  -webkit-transform-origin: center right;
      -ms-transform-origin: center right;
          transform-origin: center right;
}

.tippy-box[data-inertia][data-state=visible] {
  -webkit-transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
       -o-transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
          transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333;
}

.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 29.99875em) {
  .section__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.5625rem;
  }
}

@media (min-width: 31.25rem) {
  .main-block__container {
    -ms-grid-columns: 0.55fr 0.45fr;
    grid-template-columns: 0.55fr 0.45fr;
  }
}

@media (min-width: 47.99875em) {
  .copyright-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .order__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.875rem;
  }

@supports (padding-bottom: clamp( 0.625rem , -1.4368556701rem  +  10.3092783505vw , 6.875rem )) {
    .about__items {
      padding-bottom: clamp( 0.625rem , -1.4368556701rem  +  10.3092783505vw , 6.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , -1.4368556701rem  +  10.3092783505vw , 6.875rem )) {
    .about__items {
      padding-bottom: calc(0.625rem + 6.25 * (100vw - 20rem) / 60.625);
    }
}
}

@media (min-width: 56.25rem) {
  .footer-menu__title {
    text-align: left;
  }
}

@media (max-width: 79.375rem) {
  .usp__container {
    -webkit-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
            transform: translateY(-25%);
  }
}

@media (max-width: 67.5rem) {
  .usp__container {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    margin-top: 0.625rem;
  }
}

@media (max-width: 61.99875em) {
  .about__text {
    background-color: rgba(255, 255, 255, 0.5);
  }
}

@media (max-width: 56.25rem) {
  .main-footer {
    gap: 1.875rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 0;
  }

  .main-footer__company {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer-menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
  }

  .footer-menu__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer-menu__title:after {
    content: "";
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 0.625rem;
    border-right: 2px solid #9093A6;
    border-bottom: 2px solid #9093A6;
    -webkit-transform: translateY(75%) rotate(45deg);
        -ms-transform: translateY(75%) rotate(45deg);
            transform: translateY(75%) rotate(45deg);
  }

  .footer-menu__list {
    gap: 1.5rem;
  }
}

@media (max-width: 47.99875em) {
  .input {
    padding-left: 1.5rem;
  }

  .footer-menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .copyright-footer__social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 1.875rem;
  }

  .copyright-footer__copy {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .usp__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .order__info {
    text-align: center;
  }

  .order__form {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .order__form span {
    display: none;
  }

  .about__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 3.125rem;
  }

  .map__image {
    padding-bottom: 83.3333333333%;
  }

  .map__location_1 {
    left: 61%;
    top: 18%;
  }

  .map__location_2 {
    left: 31%;
    top: 24%;
  }

  .map__location_3 {
    left: 43%;
    top: 30%;
  }

  .map__location_4 {
    left: 19%;
    top: 41%;
  }

  .map__location_5 {
    left: 39%;
    top: 43%;
  }

  .map__location_6 {
    left: 53%;
    top: 39%;
  }

  .map__location_7 {
    left: 60%;
    top: 60%;
  }

  .map__location_8 {
    left: 46%;
    top: 67%;
  }

  .instagram__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 42.5rem) {
  .usp__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 31.25rem) {
  .main-block__info {
    text-align: center;
  }

  .main-block__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-block__image_left {
    -webkit-transform: translateX(-30%);
        -ms-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}

@media (max-width: 29.99875em) {
  .section__title {
    margin-bottom: 1.25rem;
  }

  .header__logo img {
    width: 8.75rem;
  }

  .header__login::before,
  .header_cart::before {
    font-size: 1rem;
  }

  .icon-menu {
    width: 1.25rem;
    height: 1.25rem;
  }

  .icon-menu small {
    width: 1.875rem;
    height: 1.875rem;
  }

  .about__count::before {
    width: 6.25rem;
    height: 6.25rem;
  }

  .about__count::after {
    width: 6.25rem;
    height: 6.25rem;
  }
}

@media (any-hover: hover) {
  .button._border:hover {
    background-color: #fff7cc;
  }

  .button._secundary:hover {
    background-color: #d4d7e6;
  }

  .select__option:hover {
    background: #d9d9d9;
  }

  .popup__forgot:hover {
    text-decoration: underline;
  }

  .popup__forgot:hover {
    text-decoration: underline;
  }

  .menu__link:hover {
    text-decoration: underline;
  }

  .footer-menu__link:hover {
    text-decoration: underline;
  }

  .copyright-footer__link:hover {
    text-decoration: underline;
  }
}

.webp .page__about{ background: url(../img/content/bg.webp); }